[Desktop Entry]
Version=1.5
Name=Dannesk
Comment=Crypto Wallet
Exec=/usr/bin/Dannesk
Icon=dannesk
Terminal=false
Type=Application
Categories=Finance;
StartupWMClass=Dannesk
Keywords=crypto;wallet;xrpl;bitcoin;defi